.e39_61 { 
	overflow:hidden;
}
.e51_340 { 
	background-color:rgba(255, 255, 255, 1);
	width:390px;
	height:844px;
	position:absolute;
}
.e51_341 { 
	background-color:rgba(255, 255, 255, 1);
	width:390px;
	height:844px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei51_341_30_5 { 
	width:390px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei51_341_18_21 { 
	width:390px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../../public/images/curtainsbackground.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei51_341_30_10 { 
	width:339px;
	height:53px;
	position:absolute;
	left:25px;
	top:0px;
}
.ei51_341_30_6 { 
	width:44px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei51_341_18_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei51_341_18_26 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:40px;
	position:absolute;
	left:0px;
	top:13px;
}
.ei51_341_18_27 { 
	width:33px;
	height:33px;
	position:absolute;
	left:5px;
	top:12px;
	background-image:url(../../public/images/home_icon_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei51_341_30_7 { 
	width:44px;
	height:53px;
	position:absolute;
	left:163px;
	top:0px;
}
.ei51_341_18_35 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei51_341_18_36 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:40px;
	position:absolute;
	left:0px;
	top:13px;
}
.ei51_341_18_38 { 
	width:36px;
	height:36px;
	position:absolute;
	left:4px;
	top:11px;
	background-image:url(../../public/images/person_icon_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei51_341_30_9 { 
	width:44px;
	height:53px;
	position:absolute;
	left:295px;
	top:0px;
}
.ei51_341_18_30 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei51_341_18_31 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:40px;
	position:absolute;
	left:0px;
	top:13px;
}
.ei51_341_18_34 { 
	width:29px;
	height:27px;
	position:absolute;
	left:7px;
	top:16px;
	background-image:url(../../public/images/shoppingcart_icon_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei51_341_30_8 { 
	width:44px;
	height:53px;
	position:absolute;
	left:229px;
	top:0px;
}
.ei51_341_18_32 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei51_341_18_33 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:40px;
	position:absolute;
	left:0px;
	top:13px;
}
.ei51_341_18_37 { 
	width:30px;
	height:30px;
	position:absolute;
	left:7px;
	top:14px;
	background-image:url(../../public/images/calendar_icon_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei51_341_30_23 { 
	transform: rotate(-3.4162353736373043e-9deg);
	width:390px;
	height:0px;
	position:absolute;
	left:0px;
	top:57px;
}
.i51_341_30_23 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei51_341_30_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:390px;
	height:51px;
	position:absolute;
	left:0px;
	top:57px;
}
.ei51_341_18_23 { 
	width:24px;
	height:24px;
	position:absolute;
	left:13px;
	top:13px;
	background-image:url(../../public/images/changesidebarbutton.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei51_341_30_13 { 
	width:70px;
	height:39px;
	position:absolute;
	left:160px;
	top:6px;
}
.ei51_341_18_29 { 
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:31px;
	position:absolute;
	left:0px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.ei51_341_18_28 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.ei51_341_30_22 { 
	transform: rotate(-3.4162353736373043e-9deg);
	width:390px;
	height:0px;
	position:absolute;
	left:0px;
	top:51px;
}
.i51_341_30_22 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei51_341_30_17 { 
	width:390px;
	height:691px;
	position:absolute;
	left:0px;
	top:108px;
}
.ei51_341_30_24 { 
	transform: rotate(-3.4162353736373043e-9deg);
	width:390px;
	height:0px;
	position:absolute;
	left:0px;
	top:691px;
}
.i51_341_30_24 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei51_341_30_19 { 
	width:390px;
	height:736px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../../public/images/theater2_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei51_341_30_26 { 
	width:390px;
	height:45px;
	position:absolute;
	left:0px;
	top:799px;
}
.ei51_341_23_12 { 
	width:390px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../../public/images/curtainsbackground.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei51_341_30_29 { 
	width:390px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei51_341_30_27 { 
	color:rgba(255, 255, 255, 1);
	width:390px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.ei51_341_30_28 { 
	color:rgba(255, 255, 255, 1);
	width:390px;
	height:25px;
	position:absolute;
	left:0px;
	top:20px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e51_342 { 
	width:390px;
	height:690px;
	position:absolute;
	left:0px;
	top:108px;
}
.e103_332 { 
	color:rgba(0, 0, 0, 1);
	width:160px;
	height:20px;
	position:absolute;
	left:32px;
	top:76px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e103_333 { 
	color:rgba(0, 0, 0, 1);
	width:174px;
	height:20px;
	position:absolute;
	left:32px;
	top:137px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e103_334 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:20px;
	position:absolute;
	left:32px;
	top:198px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e103_336 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:324px;
	height:214px;
	position:absolute;
	left:33px;
	top:316px;
}
.e103_337 { 
	color:rgba(0, 0, 0, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:203px;
	top:387px;
	font-family:Inter;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
}
.e103_354 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:14px;
	position:absolute;
	left:52px;
	top:330px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e103_360 { 
	color:rgba(0, 0, 0, 1);
	width:285px;
	height:70px;
	position:absolute;
	left:52px;
	top:354px;
	font-family:Inter;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e103_338 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:22px;
	position:absolute;
	left:202px;
	top:423px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e103_342 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:22px;
	position:absolute;
	left:203px;
	top:459px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e103_343 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:22px;
	position:absolute;
	left:202px;
	top:493px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e103_340 { 
	color:rgba(0, 0, 0, 1);
	width:43px;
	height:22px;
	position:absolute;
	left:297px;
	top:423px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e103_335 { 
	width:150px;
	height:131px;
	position:absolute;
	left:42px;
	top:387px;
	background-image:url(../../public/images/rapunzel_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e103_339 { 
	border-radius:500px;
	background-color:rgba(227.37499594688416, 46.422397792339325, 46.422397792339325, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:285px;
	top:432px;
}
.e103_344 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:61px;
	height:32px;
	position:absolute;
	left:309px;
	top:70px;
}
.e103_346 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:61px;
	height:32px;
	position:absolute;
	left:309px;
	top:192px;
}
.e103_345 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:61px;
	height:32px;
	position:absolute;
	left:309px;
	top:131px;
}
.e103_348 { 
	color:rgba(0, 0, 0, 1);
	width:10px;
	height:20px;
	position:absolute;
	left:317px;
	top:76px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e103_349 { 
	color:rgba(0, 0, 0, 1);
	width:10px;
	height:20px;
	position:absolute;
	left:317px;
	top:137px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e103_350 { 
	color:rgba(0, 0, 0, 1);
	width:10px;
	height:20px;
	position:absolute;
	left:317px;
	top:198px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e103_351 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:26px;
	height:19px;
	position:absolute;
	left:340px;
	top:77px;
	background-image:url(../../public/images/down_arrow_5_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e103_352 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:26px;
	height:19px;
	position:absolute;
	left:340px;
	top:138px;
	background-image:url(../../public/images/down_arrow_5_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e103_353 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:26px;
	height:19px;
	position:absolute;
	left:340px;
	top:199px;
	background-image:url(../../public/images/down_arrow_5_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e103_355 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:324px;
	height:68px;
	position:absolute;
	left:33px;
	top:623px;
}
.e103_356 { 
	background-color:rgba(255, 124.10000324249268, 106.2500050663948, 1);
	width:256px;
	height:44px;
	position:absolute;
	left:67px;
	top:635px;
}
.e103_359 { 
	color:rgba(0, 0, 0, 1);
	width:242px;
	height:21px;
	position:absolute;
	left:74px;
	top:647px;
	font-family:Inter;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
}
