.e68_612 { 
	overflow:hidden;
}
.e68_612 { 
	background-color:rgba(255, 255, 255, 1);
	width:390px;
	height:844px;
	position:absolute;
}
.e68_619 { 
	width:390px;
	height:844px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/backgroundpicture.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e122_351 { 
	background-color:rgba(195.0000035762787, 54.00000058114529, 34.00000177323818, 1);
	width:200px;
	height:29px;
	position:absolute;
	left:96px;
	top:752px;
}
.e122_352 { 
	color:rgba(255, 255, 255, 1);
	width:200px;
	height:29px;
	position:absolute;
	left:0px;
	top:1px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e68_635 { 
	color:rgba(255, 255, 255, 1);
	width:220px;
	height:22px;
	position:absolute;
	left:85px;
	top:711px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e123_332 { 
	width:279px;
	height:274px;
	position:absolute;
	left:54px;
	top:418px;
}
.e122_339 { 
	width:277px;
	height:55px;
	position:absolute;
	left:1px;
	top:0px;
}
.e122_340 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e122_341 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:275px;
	height:29px;
	position:absolute;
	left:2px;
	top:26px;
}
.e122_345 { 
	width:277px;
	height:55px;
	position:absolute;
	left:0px;
	top:146px;
}
.e122_346 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e122_347 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:275px;
	height:29px;
	position:absolute;
	left:2px;
	top:26px;
}
.e122_342 { 
	width:277px;
	height:55px;
	position:absolute;
	left:2px;
	top:73px;
}
.e122_343 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e122_344 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:275px;
	height:29px;
	position:absolute;
	left:2px;
	top:26px;
}
.e122_348 { 
	width:277px;
	height:55px;
	position:absolute;
	left:2px;
	top:219px;
}
.e122_349 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e122_350 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:275px;
	height:29px;
	position:absolute;
	left:2px;
	top:26px;
}
.e68_621 { 
	color:rgba(255, 255, 255, 1);
	width:162px;
	height:117px;
	position:absolute;
	left:57px;
	top:268px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e68_620 { 
	width:378px;
	height:206px;
	position:absolute;
	left:6px;
	top:29px;
	background-image:url(images/theaterlaaklogo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
