.e39_61 { 
	overflow:hidden;
}
.e39_59 { 
	background-color:rgba(255, 255, 255, 1);
	width:390px;
	height:844px;
	position:absolute;
}
.e39_133 { 
	background-color:rgba(255, 255, 255, 1);
	width:390px;
	height:844px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei39_133_30_5 { 
	width:390px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei39_133_18_21 { 
	width:390px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/curtainsbackground.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei39_133_30_10 { 
	width:339px;
	height:53px;
	position:absolute;
	left:25px;
	top:0px;
}
.ei39_133_30_6 { 
	width:44px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei39_133_18_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei39_133_18_26 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:40px;
	position:absolute;
	left:0px;
	top:13px;
}
.ei39_133_18_27 { 
	width:33px;
	height:33px;
	position:absolute;
	left:5px;
	top:12px;
	background-image:url(images/home_icon_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei39_133_30_7 { 
	width:44px;
	height:53px;
	position:absolute;
	left:163px;
	top:0px;
}
.ei39_133_18_35 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei39_133_18_36 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:40px;
	position:absolute;
	left:0px;
	top:13px;
}
.ei39_133_18_38 { 
	width:36px;
	height:36px;
	position:absolute;
	left:4px;
	top:11px;
	background-image:url(images/person_icon_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei39_133_30_9 { 
	width:44px;
	height:53px;
	position:absolute;
	left:295px;
	top:0px;
}
.ei39_133_18_30 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei39_133_18_31 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:40px;
	position:absolute;
	left:0px;
	top:13px;
}
.ei39_133_18_34 { 
	width:29px;
	height:27px;
	position:absolute;
	left:7px;
	top:16px;
	background-image:url(images/shoppingcart_icon_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei39_133_30_8 { 
	width:44px;
	height:53px;
	position:absolute;
	left:229px;
	top:0px;
}
.ei39_133_18_32 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei39_133_18_33 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:44px;
	height:40px;
	position:absolute;
	left:0px;
	top:13px;
}
.ei39_133_18_37 { 
	width:30px;
	height:30px;
	position:absolute;
	left:7px;
	top:14px;
	background-image:url(images/calendar_icon_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei39_133_30_23 { 
	transform: rotate(-3.4162353736373043e-9deg);
	width:390px;
	height:0px;
	position:absolute;
	left:0px;
	top:57px;
}
.i39_133_30_23 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei39_133_30_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:390px;
	height:51px;
	position:absolute;
	left:0px;
	top:57px;
}
.ei39_133_18_23 { 
	width:24px;
	height:24px;
	position:absolute;
	left:13px;
	top:13px;
	background-image:url(images/changesidebarbutton.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei39_133_30_13 { 
	width:70px;
	height:39px;
	position:absolute;
	left:160px;
	top:6px;
}
.ei39_133_18_29 { 
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:31px;
	position:absolute;
	left:0px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.ei39_133_18_28 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.ei39_133_30_22 { 
	transform: rotate(-3.4162353736373043e-9deg);
	width:390px;
	height:0px;
	position:absolute;
	left:0px;
	top:51px;
}
.i39_133_30_22 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei39_133_30_17 { 
	width:390px;
	height:691px;
	position:absolute;
	left:0px;
	top:108px;
}
.ei39_133_30_24 { 
	transform: rotate(-3.4162353736373043e-9deg);
	width:390px;
	height:0px;
	position:absolute;
	left:0px;
	top:691px;
}
.i39_133_30_24 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei39_133_30_19 { 
	width:390px;
	height:736px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/theater2_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei39_133_30_26 { 
	width:390px;
	height:45px;
	position:absolute;
	left:0px;
	top:799px;
}
.ei39_133_23_12 { 
	width:390px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/curtainsbackground.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei39_133_30_29 { 
	width:390px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei39_133_30_27 { 
	color:rgba(255, 255, 255, 1);
	width:390px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.ei39_133_30_28 { 
	color:rgba(255, 255, 255, 1);
	width:390px;
	height:25px;
	position:absolute;
	left:0px;
	top:20px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e101_335 { 
	width:331px;
	height:250px;
	position:absolute;
	left:29px;
	top:546px;
}
.e37_339 { 
	color:rgba(0, 0, 0, 1);
	width:322px;
	height:52px;
	position:absolute;
	left:5px;
	top:-14px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e37_329 { 
	width:331px;
	height:190px;
	position:absolute;
	left:0px;
	top:38px;
	background-image:url(images/rapunzel_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e49_405 { 
	width:390px;
	height:690px;
	position:absolute;
	left:0px;
	top:109px;
}
.e37_330 { 
	width:331px;
	height:190px;
	position:absolute;
	left:29px;
	top:118px;
	background-image:url(images/doornroosje_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_331 { 
	color:rgba(0, 0, 0, 1);
	width:322px;
	height:52px;
	position:absolute;
	left:31px;
	top:66px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e101_336 { 
	width:173px;
	height:16px;
	position:absolute;
	left:31px;
	top:317px;
}
.e37_334 { 
	color:rgba(0, 0, 0, 1);
	width:153px;
	height:15px;
	position:absolute;
	left:20px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e37_335 { 
	width:16px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/calendar_icon_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_338 { 
	color:rgba(0, 0, 0, 1);
	width:317px;
	height:89px;
	position:absolute;
	left:36px;
	top:347px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e49_474 { 
	width:390px;
	height:58px;
	position:absolute;
	left:0px;
	top:108px;
}
.e37_337 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e37_337 { 
	width:390.005126953125px;
	height:0px;
	position:absolute;
	left:-0.002685546875px;
	top:58.037109375px;
}
.e37_336 { 
	color:rgba(0, 0, 0, 1);
	width:288px;
	height:28px;
	position:absolute;
	left:48px;
	top:15px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e101_334 { 
	width:331px;
	height:360px;
	position:absolute;
	left:29px;
	top:186px;
}
